@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for a consistent look */
body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-800 antialiased;
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; /* For horizontal scrollbars */
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}
