@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-800 antialiased;
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px; 
}

::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}
